{{!--
    adapt-dragAndDrop
    Copyright (C) 2015 Bombardier Inc. (www.batraining.com)
    https://github.com/BATraining/adapt-dragAndDrop/blob/master/LICENSE

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}
<div class="dragAndDrop-inner component-inner" role="region" aria-label="{{_globals._components._dragAndDrop.ariaRegion}}" {{#if _globals._components._dragAndDrop.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="dragAndDrop-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        <div class="dragAndDrop-container draggables-container{{#if _shouldScale}} scale{{/if}}">
            {{#each _draggableItems}}
            <div class="dragAndDrop-item-container draggable-item-container">
                {{#if title}}
                <div class="dragAndDrop-item-title draggable-item-title">
                    <div class="dragAndDrop-item-title-inner draggable-item-title-inner">
                        {{{title}}}
                    </div>
                </div>
                {{/if}}
                <div class="draggable-item-wrapper" style="width:{{../_defaultWidth}}px; height:{{../_defaultHeight}}px;" >
                    <a href="#" class="dragAndDrop-item draggable-item component-item component-item-color item-{{@index}}" data-id="{{id}}" index={{@index}}>
                        {{#if body}}
                        <div class="dragAndDrop-item-body draggable-item-body">
                            <div class="dragAndDrop-item-body-inner draggable-item-body-inner">
                                {{{body}}}
                            </div>
                        </div>
                        {{/if}}
                        {{#if _graphic}}
                        {{#if _graphic.src}}
                        <div class="dragAndDrop-item-graphic draggable-item-graphic">
                            <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0">
                        </div>
                        {{/if}}
                        {{/if}}
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="dragAndDrop-container droppables-container{{#if _shouldScale}} scale{{/if}}">
            {{#each _droppableItems}}
            <div class="dragAndDrop-item-container droppable-item-container">
                {{#if title}}
                <div class="dragAndDrop-item-title droppable-item-title">
                    <div class="dragAndDrop-item-title-inner droppable-item-title-inner">
                        {{{title}}}
                    </div>
                </div>
                {{/if}}
                <div class="dragAndDrop-item droppable-item{{#unless ../_isEnabled}} {{#if _isCorrect}} correct{{else}} incorrect{{/if}} {{/unless}}" style="width:{{../_defaultWidth}}px; height:{{../_defaultHeight}}px;" data-id="{{id}}" index={{@index}}>
                    {{#if body}}
                    <div class="dragAndDrop-item-body droppable-item-body">
                        <div class="dragAndDrop-item-body-inner droppable-item-body-inner">
                            {{{body}}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if _graphic}}
                    {{#if _graphic.src}}
                    <div class="dragAndDrop-item-graphic droppable-item-graphic">
                        <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0">
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="dragAndDrop-dummy display-none" style="width:{{_defaultWidth}}px; height:{{_defaultHeight}}px;"></div>
    </div>
    <div class="buttons">
    </div>
</div>
