{{!--
    adapt-dragAndDrop
    Copyright (C) 2015 Bombardier Inc. (www.batraining.com)
    https://github.com/BATraining/adapt-dragAndDrop/blob/master/LICENSE
   
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}
<div class="dragAndDrop-inner component-inner" role="region">
    {{> component this}}
    <div class="dragAndDrop-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        <div class="dragAndDrop-draggables-container">
            {{#each _draggableItems}}
            <div class="dragAndDrop-item-draggable-wrapper" style="max-width:{{../_defaultMaxWidth}}px; height:{{../_defaultHeight}}px;">
                <a href="#" class="dragAndDrop-item-draggable component-item component-item-color item-{{@index}}" data-id="{{id}}">
                    {{{body}}}
                </a>
            </div>
            {{/each}}
        </div>
        <div class="dragAndDrop-droppables-container">
            {{#each _droppableItems}}
            <div class="dragAndDrop-item-droppable {{#unless ../_isEnabled}} {{#if _isCorrect}} correct{{else}} incorrect{{/if}} {{/unless}}" style="max-width:{{../_defaultMaxWidth}}px; height:{{../_defaultHeight}}px;" data-id="{{id}}">
                {{{body}}}
            </div>
            {{/each}}
        </div>
        <div class="dragAndDrop-dummy display-none" style="max-width:{{_defaultMaxWidth}}px; height:{{_defaultHeight}}px;"></div>
    </div>
    <div class="buttons">
    </div>
</div>
